<template>
        <div>
        <div class="content">
            <div class="block block-rounded block-transparent bg-gd-sea">
                <div class="block-content">
                    <div class="py-20 text-center">
                        <h1 class="font-w700 text-white mb-10">{{data_kec.name}}</h1>
                        <h2 class="h4 font-w400 text-white-op">Data Desa</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Default Elements -->
                    <div class="block block-rounded">
                        <div class="block-header">
                            <h3 class="block-title"></h3>
                            <button class="btn btn-rounded btn-alt-secondary float-right" data-toggle="modal" data-target="#add">
                                <i class="si si-plus text-primary mx-5"></i>
                                <span class="d-none d-sm-inline"> Tambah Desa</span>
                            </button>
                        </div>
                        <div class="block-content">
                            <b-row>
                                <b-col md="4" class="my-1">
                                    <b-form-group horizontal label="Entry" class="mb-0">
                                        <b-form-select :options="entryOption" v-model="entry">

                                        </b-form-select>
                                    </b-form-group>
                                </b-col>
                                <b-col md="5" class="my-1">
                                    
                                </b-col>
                                <b-col md="3" class="my-1">
                                    <input type="text" class="form-control" v-model="filter" placeholder="Cari Desa...">
                                </b-col>
                            </b-row>

                            <b-table  bordered striped hover
                                :fields="field" 
                                :items="data_desa"
                                :filter="filter"
                                :per-page="entry"
                                :current-page="currentPage"
                            >
                                <template slot="act" slot-scope="row">
                                    <a class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#edit" @click="edit(row.item)"><i class="si si-note"></i></a>
                                    
                                    <a class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Hapus Provinsi" @click="destroy(row.item.id)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </template>

                                <template slot="table-caption">
                                    <b-row>
                                        <b-col md="4" class="my-1">
                                            menampilkan {{entry}} dari {{data_desa.length}} entry 
                                        </b-col>
                                        <b-col md="4" class="my-1">

                                        </b-col>
                                        <b-col md="4" class="my-1">
                                            <b-pagination align="left" :total-rows="data_desa.length" :per-page="entry" v-model="currentPage" class="my-0"> </b-pagination>
                                        </b-col>
                                    </b-row>
                                </template>

                            </b-table>

                        </div>
                    </div>
                    <!-- END Default Elements -->
                </div>
            </div>
        </div>

        <!-- ADD QUAL -->
        <div class="modal fade" id="add" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title" id="modal_title">Tambah Desa</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <form id="form" class="form-horizontal">
                            <div class="block-content">
                                <input type="hidden" value="" name="id"/> 
                                <div class="form-group">
                                    <label class="col-form-label">Nama Desa</label>
                                    <input type="text" v-model="desa.nama_desa" class="form-control" placeholder="Nama desa">
                                    <div v-if="desa.nama_desa == ''">
                                        <div class="form-text text-danger">Nama Desa tidak boleh kosong</div>
                                    </div>
                                    <div v-else>
                                        <div class="form-text text-success">Silahkan simpan data</div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div v-if="desa.nama_desa == ''">
                                    <button disabled="disabled" type="button" class="btn btn-alt-primary">
                                        <i class="fa fa-check"></i> Simpan
                                    </button>
                                </div>
                                <div v-else>
                                    <button type="button" class="btn btn-alt-primary" data-dismiss="modal" @click="store()">
                                        <i class="fa fa-check"></i> Simpan
                                    </button>
                                </div>
                                <button type="button" class="btn btn-alt-danger" data-dismiss="modal" @click="on_close_modal"><i class="si si-close"></i> Batal</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit QUAL -->
        <div class="modal fade" id="edit" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title" id="modal_title">Edit desa</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content">
                        <form id="form" class="form-horizontal">
                                <input type="hidden" value="" name="id"/> 
                                <div class="form-group">
                                    <label class="col-form-label">Nama Desa</label>
                                    <input type="text" v-model="desa.nama_desa" class="form-control" name="nama_kualifikasi" placeholder="Nama Kualifikasi Pekerjaan">
                                    <div v-if="desa.nama_desa == ''">
                                        <div class="form-text text-danger">nama desa tidak boleh kosong</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div v-if="desa.nama_desa == ''">
                            <button disabled="disabled" type="button" class="btn btn-alt-primary">
                                <i class="fa fa-check"></i> Simpan
                            </button>
                        </div>
                        <div v-else>
                            <button type="button" class="btn btn-alt-primary" @click="update(desa.id)" data-dismiss="modal">
                                <i class="fa fa-check"></i> Simpan
                            </button>
                        </div>
                        <button type="button" class="btn btn-alt-danger" data-dismiss="modal" @click="on_close_modal"><i class="si si-close"></i> Batal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            //data
            data_desa:[],
            data_kec:{},
            //table
            field:[
                {key:'id',label:'ID',sortable:true},
                {key:'name',label:'Nama Desa',sortable:true},
                {key:'act',label:'Actions'}
            ],
            //entry limitation
            entry:5,
            entryOption:['5','10','25','50','100'],
            //sorting
            sortBY:'',
            sortDesc:false,
            //filter
            filter:null,
            //pagination
            currentPage:1,
            //input OBJ
            desa:{
                nama_desa : '',
                id : '',
                kec_id:this.datid
            },
            //message JSON

        }
    },

    props:['api_token','datid'],

    created(){
        this.des_fetch(this.datid);
        this.kec_fetch(this.datid);
    },

    methods:{
        //fetching data
        des_fetch(params)
        {
            fetch(`/api/wilayah/desa/${params}`,{
                method:'get',
                headers:{
                    'Accept':'application/json',
                    'Authorization':'Bearer ' + this.api_token
                }
            })
            .then(res => res.json())
            .then(res => {
                this.data_desa = res.data;
            })
            .catch(err => console.log(err))
        },

        kec_fetch(params)
        {
            fetch(`/api/wilayah/kecamatan/sh/${params}`,{
                method:'get',
                headers:{
                    'Accept':'application/json',
                    'Authorization':'Bearer ' + this.api_token
                }
            })
            .then(res => res.json())
            .then(res => {
                this.data_kec = res.data;
            })
            .catch(err => console.log(err))
        },
        //CRUD
        store()
        {
            fetch('/api/wilayah/desa/save',{
                method:'post',
                body:JSON.stringify(this.desa),
                headers:{
                    'Content-Type':'application/json',
                    'Authorization':'Bearer ' + this.api_token
                }
            })
            .then(res => res.data)
            .then(data => {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: 'Data Telah Disimpan',
                    showConfirmButton: false,
                    timer: 1500
                })
                this.des_fetch(this.datid);
            })
            .catch(err => console.log(err))
        },

        edit(params)
        {
            this.desa.nama_desa = params.name;
            this.desa.id = params.id;
        },

        update(params)
        {
            fetch(`/api/wilayah/desa/update/${params}`,{
                method:'put',
                body:JSON.stringify(this.desa),
                headers:{
                    'Content-Type':'application/json',
                    'Authorization':'Bearer ' + this.api_token
                }
            })
            .then(res => res.json)
            .then(res => {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: 'data berhasil di perbaharui',
                    showConfirmButton: false,
                    timer: 1500
                })
                this.des_fetch(this.datid);
            })
            .catch(err => console.log(err))
        },

        destroy(params)
        {   
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya!',
                cancelmButtonText: 'Tidak'
            }).then((result) => {
            if (result.value) {
                fetch(`/api/wilayah/desa/delete/${params}`,{
                    method:'delete',
                    headers:{
                        'Content-Type':'application/json',
                        'Authorization':'Bearer ' + this.api_token
                    }
                })
                .then(res => res.data)
                .then(data => {
                    this.$swal(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    );
                    this.des_fetch(this.datid);
                })
                .catch(err => console.log(err))
            }
            })

        },
        //MISC
        on_close_modal()
        {
            this.desa.nama_desa = '';
            this.desa.id = '';
        }

    }
}
</script>
