<template>
    <div>
        <div class="content">
            <div class="block block-rounded block-transparent bg-gd-sea">
                <div class="block-content">
                    <div class="py-20 text-center">
                        <h1 class="font-w700 text-white mb-10">Wilayah</h1>
                        <h2 class="h4 font-w400 text-white-op">Data Provinsi</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Default Elements -->
                    <div class="block block-rounded">
                        <div class="block-header">
                            <h3 class="block-title"></h3>
                            <button class="btn btn-rounded btn-alt-secondary float-right" data-toggle="modal" data-target="#add">
                                <i class="si si-plus text-primary mx-5"></i>
                                <span class="d-none d-sm-inline"> Tambah Provinsi</span>
                            </button>
                        </div>
                        <div class="block-content">
                            <b-row>
                                <b-col md="4" class="my-1">
                                    <b-form-group horizontal label="Entry" class="mb-0">
                                        <b-form-select :options="entryOption" v-model="entry">

                                        </b-form-select>
                                    </b-form-group>
                                </b-col>
                                <b-col md="5" class="my-1">
                                    
                                </b-col>
                                <b-col md="3" class="my-1">
                                    <input type="text" class="form-control" v-model="filter" placeholder="Cari Provinsi...">
                                </b-col>
                            </b-row>

                            <b-table  bordered striped hover
                                :fields="field" 
                                :items="data_prov" 
                                :filter="filter"
                                :per-page="entry"
                                :current-page="currentPage"
                            >
                                <template slot="act" slot-scope="row">
                                    <a :href="'/admin/Wilayah/Kabupaten/' + row.item.id" class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Detail Provinsi"><i class="si si-eye"></i></a>
                                    <a class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#edit" @click="edit(row.item)"><i class="si si-note"></i></a>
                                    
                                    <a class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Hapus Provinsi" @click="destroy(row.item.id)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </template>

                                <template slot="table-caption">
                                    <b-row>
                                        <b-col md="4" class="my-1">
                                            menampilkan {{entry}} dari {{data_prov.length}} entry
                                        </b-col>
                                        <b-col md="4" class="my-1">

                                        </b-col>
                                        <b-col md="4" class="my-1">
                                            <b-pagination align="left" :total-rows="data_prov.length" :per-page="entry" v-model="currentPage" class="my-0"> </b-pagination>
                                        </b-col>
                                    </b-row>
                                </template>

                            </b-table>

                        </div>
                    </div>
                    <!-- END Default Elements -->
                </div>
            </div>
        </div>

        <!-- ADD QUAL -->
        <div class="modal fade" id="add" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title" id="modal_title">Provinsi</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <form id="form" class="form-horizontal">
                            <div class="block-content">
                                <input type="hidden" value="" name="id"/> 
                                <div class="form-group">
                                    <label class="col-form-label">Nama Provinsi</label>
                                    <input type="text" v-model="provinsi.nama_prov" class="form-control" placeholder="Nama Provinsi">
                                    <div v-if="provinsi.nama_prov == ''">
                                        <div class="form-text text-danger">Nama Provinsi tidak boleh kosong</div>
                                    </div>
                                    <div v-else>
                                        <div class="form-text text-success">Silahkan simpan data</div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div v-if="provinsi.nama_prov == ''">
                                    <button disabled="disabled" type="button" class="btn btn-alt-primary">
                                        <i class="fa fa-check"></i> Simpan
                                    </button>
                                </div>
                                <div v-else>
                                    <button type="button" class="btn btn-alt-primary" data-dismiss="modal" @click="store()">
                                        <i class="fa fa-check"></i> Simpan
                                    </button>
                                </div>
                                <button type="button" class="btn btn-alt-danger" data-dismiss="modal" @click="on_close_modal"><i class="si si-close"></i> Batal</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit QUAL -->
        <div class="modal fade" id="edit" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title" id="modal_title">Edit Provinsi</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content">
                        <form id="form" class="form-horizontal">
                                <input type="hidden" value="" name="id"/> 
                                <div class="form-group">
                                    <label class="col-form-label">Nama Provinsi</label>
                                    <input type="text" v-model="provinsi.nama_prov" class="form-control" name="nama_kualifikasi" placeholder="Nama Kualifikasi Pekerjaan">
                                    <div v-if="provinsi.nama_prov == ''">
                                        <div class="form-text text-danger">nama provinsi tidak boleh kosong</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div v-if="provinsi.nama_prov == ''">
                            <button disabled="disabled" type="button" class="btn btn-alt-primary">
                                <i class="fa fa-check"></i> Simpan
                            </button>
                        </div>
                        <div v-else>
                            <button type="button" class="btn btn-alt-primary" @click="update(provinsi.id)" data-dismiss="modal">
                                <i class="fa fa-check"></i> Simpan
                            </button>
                        </div>
                        <button type="button" class="btn btn-alt-danger" data-dismiss="modal" @click="on_close_modal"><i class="si si-close"></i> Batal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            //data
            data_prov:[],
            //table
            field:[
                {key: 'id',sortable: true, label:'ID'},
                {key: 'name',sortable: true, label:'NAMA PROVINSI'},
                {key: 'kab',sortable: true, label:'JUMLAH KABUPATEN'},
                {key: 'act',label: 'Action'}
            ],
            //entry limitation
            entry:5,
            entryOption:[5,10,25,50,100],
            //sorting
            sortBY:'',
            sortDesc:false,
            //filter
            filter:null,
            //pagination 
            currentPage:1,
            //input OBJ
            provinsi:{
                nama_prov : '',
                id : ''
            }
        }
    },

    props:['api_token'],

    created(){
        this.prov_fetch();
    },

    methods:{
        //fetching data
        prov_fetch()
        {
            fetch('/api/wilayah/provinsi',{
                method:'get',
                headers:{
                    'Accept':'application/json',
                    'Authorization':'Bearer ' + this.api_token,
                }
            })
            .then(res => res.json())
            .then(res => {
                this.data_prov = res.data;
            })
            .catch(err => console.log(err))
        },

        //CRUD
        store()
        {
            fetch('/api/wilayah/provinsi/save',{
                method:'post',
                body:JSON.stringify(this.provinsi),
                headers:{
                    'Content-Type':'application/json',
                    'Authorization':'Bearer ' + this.api_token,
                }
            })
            .then(res => res.data)
            .then(data => {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: 'Data Berhasil Di Simpan',
                    showConfirmButton: false,
                    timer: 1500
                });
                this.provinsi.nama_prov='';
                this.prov_fetch();
            })
            .catch(err => console.log(err))
        },

        edit(params)
        {
            this.provinsi.nama_prov = params.name;
            this.provinsi.id = params.id
        },

        update(params)
        {
            fetch(`/api/wilayah/provinsi/update/${params}`,{
                method:'put',
                body:JSON.stringify(this.provinsi),
                headers:{
                    'Content-Type':'application/json',
                    'Authorization':'Bearer ' + this.api_token,
                }
            })
            .then(res => res.json)
            .then(res => {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: 'Data Berhasil Di Perbaharui',
                    showConfirmButton: false,
                    timer: 1500
                });
                this.prov_fetch();
                this.provinsi.nama_prov='';
                this.provinsi.id='';
            })
            .catch(err => console.log(err))
        },

        destroy(params)
        {   
            this.$swal({
                title: 'Hapus Data ini?',
                text: "Data akan terhapus permanent!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya!',
                cancelmButtonText: 'Tidak'
            }).then((result) => {
                if (result.value) {
                    fetch(`/api/wilayah/provinsi/delete/${params}`,{
                        method:'delete',
                        headers:{
                            'Content-Type':'application/json',
                            'Authorization':'Bearer ' + this.api_token,
                        }
                    })
                    .then(res => res.data)
                    .then(data => {
                        this.$swal(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                        this.prov_fetch();
                    })
                    .catch(err => console.log(err))
                }
            })

        },

        //MISC
        on_close_modal()
        {
            this.provinsi.nama_prov = '';
            this.provinsi.id = '';
        }

    }
}
</script>
