<template>
    <div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="block block-rounded block-transparent bg-gd-sea">
                <div class="block-content">
                    <div class="py-20 text-center">
                        <h1 class="font-w700 text-white mb-10">Pengguna</h1>
                        <h2 class="h4 font-w400 text-white-op">Daftar Pengguna</h2>
                    </div>
                </div>
            </div>
            <!-- Default Elements -->
            <div class="block block-rounded">
                <div class="block-header">
                    <h3 class="block-title"></h3>
                    <a class="btn btn-rounded btn-alt-secondary float-right" href="/admin/Pengguna/Tambah">
                        <i class="si si-plus text-primary mx-5"></i>
                        <span class="d-none d-sm-inline"> Tambah Pengguna</span>
                    </a>
                  
                </div>
                

                <div class="block-content">
                    <div class="block-content">
                        
                            <b-row>
                                    <b-col md="4" class="my-1">  
                                        <input type="text" class="form-control" placeholder="Cari..." v-model="filter">                                                         
                                    </b-col>
                                    <b-col md="4" class="my-1">

                                    </b-col>
                                    <b-col md="4" class="my-1">
                                        <b-form-group horizontal label="Entry" class="mb-0">
                                            <b-form-select :options="entryOption" v-model="entry" />
                                        </b-form-group>
                                    </b-col>
                            </b-row>

                            <b-table bordered striped hover  
                                    :items="user_data"
                                    :fields="field"
                                    :filter="filter"
                                    :per-page="entry"
                                    :current-page="currentPage"
                            >

                                <template slot="act" slot-scope="row">
                                    <a class="btn btn-sm btn-secondary" :href="'Edit/' + row.item.id"><i class="si si-note"></i></a>
                                    
                                    <a class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Hapus Kategori" @click="delete_data(row.item.id)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </template>

                                <template slot="user_akses" slot-scope="data">
                                   {{data.value.nama}}
                                </template>

                                <template slot="status" slot-scope="data">
                                    <div v-if="data.value.status = 1">
                                        Aktif
                                    </div>
                                    <div v-else>
                                        Non-Aktif
                                    </div>
                                </template>

                                <template slot="table-caption">

                                     <b-row>
                                         <b-col md="4" class="my-1">
                                             Menampilkan {{entry}} dari {{user_data.length}} entry
                                         </b-col>
                                         <b-col md="4" class="my-1"> 

                                         </b-col>
                                        <b-col md="4" class="my-1">
                                            <b-pagination align="left" :total-rows="user_data.length" :per-page="entry" v-model="currentPage"/>
                                        </b-col>
                                    </b-row>
                                    
                                </template>
                            </b-table>

                           
                            
                        </div>
                </div>
            </div>
            <!-- END Default Elements -->
        </div>
    </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            user_data:[],
            field:[
                {key:'id',label:'no',sortable:true},
                {key:'nama',label:'nama lengkap',sortable:true},
                {key:'username',label:'username',sortable:true},
                {key:'email',label:'email',sortable:true},
                {key:'user_akses',label:'hak akses',sortable:true},
                {key:'status',label:'status',sortable:true},
                {key:'act',label:'Actions',sortable:false}
            ],
            //entry limitation
            entry:5,
            entryOption:[5,10,25,50,100],
            //sorting
            sortBy:'nama_kualifikasi',
            sortDesc:false,
            //filtering
            filter:null,
            //pagination
            currentPage:1,
            //inputation obj
        }
    },

    created(){
        this.get_data();
    },

    props:['api_token'],

    methods:{
        //fetch
        get_data()
        {
            fetch('/api/pengguna/data',{
                method:'get',
                headers:{
                    'Accept':'application/json',
                    'Authorization':'Bearer ' + this.api_token
                }
            })
            .then(res => res.json())
            .then(res => {
                this.user_data = res.data;
            })
            .catch(err => console.log(err));    
        },

        delete_data(params)
        {
            this.$swal({
                title: 'Hapus data ini?',
                text: "Data akan terhapus permanent!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya!',
                cancelButtonText: 'Tidak!'
            }).then((result) => {
                if (result.value) {
                    fetch(`/api/pengguna/data-delete/${params}`,{
                        method:'delete',
                        headers:{
                            'Accept':'application/json',
                            'Authorization':'Bearer ' + this.api_token
                        }
                    })
                    .then(res => res.json)
                    .then(res => {
                        this.$swal(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                        this.get_data();
                    })
                    .catch(err => console.log(err))
                }
            })

         
        },
    },
}
</script>


