<template>
    <div>
        <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="block block-rounded block-transparent bg-gd-sea">
                    <div class="block-content">
                        <div class="py-20 text-center">
                            <h1 class="font-w700 text-white mb-10">Pengguna</h1>
                            <h2 class="h4 font-w400 text-white-op">Tambah Pengguna</h2>
                        </div>
                    </div>
                </div>
                <!-- Default Elements -->
                <div class="block block-rounded">
                    <div class="block-header">
                        <h3 class="block-title"></h3>
                    </div>
                    <div class="block-content">
                        
                        <form>
                            <div class="row justify-content-center">

                                <div class="col-md-6" v-if="btn_pressed">
                                    <h6>Data tidak bisa disimpan, mohon perbaiki error di bawah ini</h6>
                                    <ul>
                                        <li v-for="(item, index) in error" :key="index"> {{item}}</li>
                                    </ul>
                                </div>

                                <div class="col-md-6">
                                    <input type="hidden" name="id" value="">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" >Nama Lengkap</label>
                                        <div class="col-lg-8">
                                            <input v-model="user_post.nama" type="text" id="nama" class="form-control" name="nama" placeholder="Nama Lengkap">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" >Username</label>
                                        <div class="col-lg-8">
                                            <input v-model="user_post.username" type="text" id="username" class="form-control" name="username"   placeholder="Username">
                                            <div class="form-text text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" >Email</label>
                                        <div class="col-lg-8">
                                            <input v-model="user_post.email" type="email" id="email" class="form-control" name="email"  placeholder="Email">
                                            <div class="form-text text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" >Jabatan</label>
                                        <div class="col-lg-8">
                                            <select v-model="user_post.id_akses" class="form-control" name="id_akses">
    
                                                <option v-for="(item, index) in data_akses" :key="index" :value="item.id">{{item.nama}}</option>
                                            </select>
                                            <div class="form-text text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" >Password</label>
                                        <div class="col-lg-8">
                                            <input v-model="user_post.password" type="password" id="password" class="form-control" name="password" placeholder="Password">
                                            <div class="form-text text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" >Konfirmasi Password</label>
                                        <div class="col-lg-8">
                                            <input v-model="user_post.conf_password" type="password" id="password_knf" class="form-control" name="password_knf"  placeholder="Konfirmasi Password">
                                            <div class="form-text text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center" style="padding-top: 30px;padding-bottom: 25px;">
                                        <div class="col-lg-6">
                                            <button @click="validator()" type="button" class="btn btn-primary btn-lg btn-block">Simpan</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <a class="btn btn-danger btn-lg btn-block" href="">Batal</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END Default Elements -->
            </div>
        </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            data_akses:[],
            error:[],
            pass_confirmed : false,
            btn_pressed:false,
            user_post:{
                nama:null,
                email:null,
                password:null,
                conf_password:null,
                username:null,
                id_akses:null,
            },

        }
    },

    props:['api_token'],

    created(){
        this.user_akses();
    },

    methods:{
        validator: function ()
        {
            this.btn_pressed = true;
            this.error = [];

            if (!this.user_post.nama ) {
                this.error.push("Nama pengguna tidak boleh kosong.");
            }

            if (!this.user_post.username ) {
                this.error.push("Username pengguna tidak boleh kosong.");
            }

            if (!this.user_post.password ) {
                this.error.push("Password/Kata sandi pengguna tidak boleh kosong.");
            }

            if (!this.user_post.conf_password ) {
                this.error.push("harap konfirmasi dahulu password penguna.");
            }

            if (!this.user_post.email) {
                this.error.push("Email pengguna tidak boleh kosong");
            }

            if (!this.user_post.id_akses) {
                this.error.push("Hak Akses pengguna tidak boleh kosong");
            }

            if (this.user_post.password !== this.user_post.conf_password){
                this.error.push("Password tidak valid, silahkan masukan password dan konfimasi kembali");
                this.pass_confirmed = false;
            }else{
                this.pass_confirmed = true;
            }


            if (this.user_post.nama && this.user_post.email && this.user_post.password && this.user_post.conf_password && this.user_post.username && this.user_post.id_akses && this.pass_confirmed) {
                this.btn_pressed = false;
                fetch('/api/Pengguna/Tambah',{
                    method:'post',
                    body:JSON.stringify(this.user_post),
                    headers:{
                        'Content-Type':'application/json',
                        'Authorization':'Bearer ' + this.api_token
                    }
                })
                .then(res => res.data)
                .then(data => {
                    this.$swal({
                        type: 'success',
                        html:
                            'Data anda telah tersimpan, tekan ' +
                            '<a href="/admin/Pengguna/Data">Disini!</a> ' +
                            'untuk melihat list data pengguna.',
                        showCloseButton: true,
                        showCancelButton: true,
                        focusConfirm: false,
                        confirmButtonText:
                            '<i class="fa fa-thumbs-up"></i> Great!',
                        confirmButtonAriaLabel: 'Tambah Data lagi.',
                    })
                    
                })
                .catch(err => console.log(err));
            }
        },

        //fetch 

        user_akses: function()
        {
            fetch('/api/pengguna/data-akses',{
                method:'get',
                headers:{
                    'Accept':'application/json',
                    'Authorization':'Bearer ' + this.api_token
                }
            })
            .then(res => res.json())
            .then(res => {
                this.data_akses = res.data
            })
            .catch(err => console.log(err));
        }
    }
}
</script>