<template>
        <div>
        <!-- CONTENT -->
        <div class="content">
            <div class="block block-rounded block-transparent bg-gd-sea">
                <div class="block-content">
                    <div class="py-20 text-center">
                        <h1 class="font-w700 text-white mb-10">Lowongan Kerja</h1>
                        <h2 class="h4 font-w400 text-white-op">Data Lowongan Kerja</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Default Elements -->
                    <div class="block block-rounded">
                        <div class="block-header">
                            <h3 class="block-title"></h3>
                            <button class="btn btn-rounded btn-alt-secondary float-right">
                                <i class="si si-plus text-primary mx-5"></i>
                                <span class="d-none d-sm-inline"> Tambah Kategori</span>
                            </button>
                        </div>
                        <div class="block-content">
                        <table class="table table-bordered table-striped table-vcenter normal">
                                <thead>
                                    <tr>
                                        <th class="text-center">No</th>
                                        <th>Judul</th>
                                        <th>Kategori</th>
                                        <th>Perusahaan</th>
                                        <th class="text-center">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END Default Elements -->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            data_loker:[],
            search:'',
            sortBy:'',
            sort_asc:true,
        }
    },

    props:['api_token'],

    computed:{

    },

    created(){

    },

    methods:{
        //fetch

        //CRUDS

        //MISC
    },
}
</script>
