<template>
    <div>
        <!-- CONTENT -->
        <div class="content">
            <div class="block block-rounded block-transparent bg-gd-sea">
                <div class="block-content">
                    <div class="py-20 text-center">
                        <h1 class="font-w700 text-white mb-10">Lowongan Kerja</h1>
                        <h2 class="h4 font-w400 text-white-op">Data Kategori Lowongan Kerja</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Default Elements -->
                    <div class="block block-rounded">
                        <div class="block-header">
                            <h3 class="block-title"></h3>
                            <button class="btn btn-rounded btn-alt-secondary float-right" data-toggle="modal" data-target="#modal_form">
                                <i class="si si-plus text-primary mx-5"></i>
                                <span class="d-none d-sm-inline"> Tambah Kategori</span>
                            </button>
                        </div>
                        <div class="block-content">
                        <table class="table table-bordered table-striped table-vcenter normal">
                                <thead>
                                    <tr>
                                        <th class="text-center">No</th>
                                        <th>Nama Kategori</th>
                                        <th>Jumlah Loker</th>
                                        <th>Sub Kategori</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in data_kategori" :key="index">
                                        <td class="text-center">{{index + 1}}</td>
                                        <td class="font-w600">{{item.nama}}</td>
                                        <td class="font-w600"></td>
                                        <td class="font-w600"></td>
                                        <td class="text-center">
                                            <div>
                                                <b-dropdown id="ddown-divider" text="Action" class="m-2">
                                                    <b-dropdown-item-button  data-toggle="modal" data-target="#edit_modal_form" @click="edit(item)">
                                                        <i class="fa fa-fw fa-bell mr-5"></i>Edit Data
                                                    </b-dropdown-item-button>
                                                    <b-dropdown-item-button @click="destroy(item.id_kategori)">
                                                        <i class="fa fa-fw fa-envelope-o mr-5"></i>Hapus Data
                                                    </b-dropdown-item-button>
                                                    <b-dropdown-divider></b-dropdown-divider>
                                                    <b-dropdown-item-button>
                                                        <i class="fa fa-fw fa-pencil mr-5"></i>Sub Kategori
                                                    </b-dropdown-item-button>
                                                </b-dropdown>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END Default Elements -->
                </div>
            </div>
        </div>

        <!-- modal -->
        <div class="modal fade" id="modal_form" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title" id="modal_title">Kategori {{kategori.nama}}</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>

                        <form id="form" class="form-horizontal">
                                <div class="block-content">
                                    <input type="hidden" value="" name="id"/> 
                                    
                                    <div class="form-group">
                                        <label class="col-form-label">Nama Kategori Pekerjaan</label>
                                        <input v-model="kategori.nama" type="text" class="form-control" placeholder="Nama Kategori Pekerjaan">
                                        <div v-if="kategori.nama==''">
                                            <div class="form-text text-danger">Nama Kategori tidak boleh kosong</div>
                                        </div>
                                        <div v-else>
                                            <div class="form-text text-success">Silahkan Simpan Data.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div v-if="kategori.nama == ''">
                                        <button disabled="disabled" type="button" class="btn btn-alt-primary" data-dismiss="modal">
                                            <i class="fa fa-check"></i> Simpan
                                        </button>
                                    </div>

                                    <div v-else>
                                        <button type="button" class="btn btn-alt-primary" data-dismiss="modal" @click="store()">
                                            <i class="fa fa-check"></i> Simpan
                                        </button>
                                    </div>
                                    <button type="button" class="btn btn-alt-danger" data-dismiss="modal"><i class="si si-close"></i> Batal</button>
                                </div>
                        </form>
                         
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Data modal -->
        <div class="modal fade" id="edit_modal_form" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title" id="modal_title"> Edit Kategori {{kategori.id}}</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>

                        <form @submit.prevent="update(kategori.id)" id="form" class="form-horizontal">
                                <div class="block-content">
                                    <input type="hidden" value="" name="id"/> 
                                    
                                    <div class="form-group">
                                        <label class="col-form-label">Nama Kategori Pekerjaan</label>
                                        <input v-model="kategori.nama" type="text" class="form-control" placeholder="Nama Kategori Pekerjaan">
                                        <div v-if="kategori.nama==''">
                                            <div class="form-text text-danger">Nama Kategori tidak boleh kosong</div>
                                        </div>
                                        <div v-else>
                                            <div class="form-text text-success">Silahkan Simpan Data.</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <div v-if="kategori.nama == ''">
                                        <button disabled="disabled" type="button" class="btn btn-alt-primary" data-dismiss="modal">
                                            <i class="fa fa-check"></i> Simpan
                                        </button>
                                    </div>

                                    <div v-else>
                                        <button type="submit" class="btn btn-alt-primary">
                                            <i class="fa fa-check"></i> Simpan
                                        </button>
                                    </div>
                                    <button type="button" class="btn btn-alt-danger" data-dismiss="modal"><i class="si si-close"></i> Batal</button>
                                </div>
                        </form>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            data_kategori:[],
            search:'',
            sortyBy:'',
            sort_asc:true,

            //data post
            kategori:{
                nama : '',
                //for update
                id :''
            },
        }
    },

    created(){
        this.fetch_data();
    },

    props:['api_token'],

    computed:{},

    methods:{
        //fetching 
        fetch_data()
        {
            fetch('/api/kategori',{
                method:'get',
                headers:{
                    'Accept':'application/json',
                    'Authorization':'Bearer ' + this.api_token
                }
            })
            .then(res => res.json())
            .then(res => {
                this.data_kategori = res.data;
            })
            .catch(err => console.log(err))
        },

        //cruds operat
        store()
        {
            fetch('/api/kategori/save',{
                method:'post',
                body:JSON.stringify(this.kategori),
                headers:{
                    'Content-Type':'application/json',
                    'Authorization':'Bearer ' + this.api_token
                }
            })
            .then(res => res.data)
            .then(data => {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: 'Your work has been saved',
                    showConfirmButton: false,
                    timer: 1500
                });
                this.kategori.nama = '';
                this.fetch_data();
            })
            .catch(err => console.log(err));
        },

        edit(params)
        {
            this.kategori.nama = params.nama,
            this.kategori.id = params.id_kategori
        },

        update(params)
        {
            fetch(`/api/kategori/update/${params}`,{
                method:'put',
                body:JSON.stringify(this.kategori),
                headers:{
                    'Content-Type':'application/json',
                    'Authorization':'Bearer ' + this.api_token
                }
            })
            .then(res => res.json)
            .then(res => {
                this.kategori.nama = '';
                this.fetch_data();
            })
            .catch(err => console.log(err))
        },

        destroy(params)
        {
            this.$swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ya!',
            cancelButtonText: 'Batal',
            }).then((result) => {
                if (result.value) {
                    fetch(`/api/kategori/delete/${params}`,{
                        method:'delete',
                        headers:{
                            'Content-Type':'application/json',
                            'Authorization':'Bearer ' + this.api_token
                        }
                    })
                    .then(res => res.data)
                    .then(data=>{
                        this.$swal(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                        this.fetch_data();
                    })
                    .catch(err => console.log(err));
                }
            });
        },
        //misc
        set_sorting(params)
        {
            //
        },
    }
}
</script>

