<template>
    <div>
        <div class="content">
            <div class="block block-rounded block-transparent bg-gd-sea">
                <div class="block-content">
                    <div class="py-20 text-center">
                        <h1 class="font-w700 text-white mb-10">Industri Pekerjaan</h1>
                        <h2 class="h4 font-w400 text-white-op">Data Industri Pekerjaan</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Default Elements -->
                    <div class="block block-rounded">
                        <div class="block-header">
                            <h3 class="block-title"></h3>
                            <button class="btn btn-rounded btn-alt-secondary float-right" data-toggle="modal" data-target="#addqual">
                                <i class="si si-plus text-primary mx-5"></i>
                                <span class="d-none d-sm-inline"> Tambah Industri</span>
                            </button>
                        </div>
                        <div class="block-content">
                            <b-row>
                                    <b-col md="4" class="my-1">  
                                        <input type="text" class="form-control" placeholder="Cari..." v-model="filter">                                                         
                                    </b-col>
                                    <b-col md="4" class="my-1">

                                    </b-col>
                                    <b-col md="4" class="my-1">
                                        <b-form-group horizontal label="Entry" class="mb-0">
                                            <b-form-select :options="entryOption" v-model="entry" />
                                        </b-form-group>
                                    </b-col>
                            </b-row>

                            <b-table bordered striped hover  
                                    :items="main_data"
                                    :fields="field"
                                    :filter="filter"
                                    :per-page="entry"
                                    :current-page="currentPage"
                            >

                                <template slot="act" slot-scope="row">
                                    <a class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#editqual" @click="edit(row.item)"><i class="si si-note"></i></a>
                                    
                                    <a class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Hapus Kategori" @click="destroy(row.item.id)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </template>

                                <template slot="table-caption">

                                     <b-row>
                                         <b-col md="4" class="my-1">
                                             Menampilkan {{entry}} dari {{main_data.length}} entry
                                         </b-col>
                                         <b-col md="4" class="my-1"> 

                                         </b-col>
                                        <b-col md="4" class="my-1">
                                            <b-pagination align="left" :total-rows="main_data.length" :per-page="entry" v-model="currentPage"/>
                                        </b-col>
                                    </b-row>
                                    
                                </template>
                            </b-table>

                           
                            
                        </div>
                    </div>
                    <!-- END Default Elements -->
                </div>
            </div>
        </div>

        <!-- ADD QUAL -->
        <div class="modal fade" id="addqual" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title" id="modal_title">Industri Pekerja</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <form id="form" class="form-horizontal">
                            <div class="block-content">
                                <div class="form-group">
                                    <label class="col-form-label">Industri</label>
                                    <input type="text" v-model="industri.nama_indus"  class="form-control" placeholder="Nama Kualifikasi Pekerjaan">
                                    <div >
                                        <div class="form-text text-danger">Industri tidak boleh kosong</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">Industri </label>
                                    <select class="form-control" v-model="industri.status_indus">
                                        <option :value="0">Tidak Aktif</option>
                                        <option :value="1">Aktif</option>
                                    </select>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div v-if="industri.nama_indus !== ''">
                                    <button type="button" class="btn btn-alt-primary" data-dismiss="modal" @click="store()">
                                        <i class="fa fa-check"></i> Simpan
                                    </button>
                                </div>
                                <div v-else>
                                    <button disabled="disabled" type="button" class="btn btn-alt-primary">
                                        <i class="fa fa-check"></i> Simpan
                                    </button>
                                </div>
                                <button type="button" class="btn btn-alt-danger" @click="prev_cond()" data-dismiss="modal"><i class="si si-close"></i> Batal</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- ADD QUAL -->
        <div class="modal fade" id="editqual" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title" id="modal_title">Edit Industri</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content">
                        <form id="form" class="form-horizontal">
                                <input type="hidden" value="" name="id"/> 
                                <div class="form-group">
                                    <label class="col-form-label">Industri</label>
                                    <input type="text" v-model="industri.nama_indus"  class="form-control" placeholder="Nama Kualifikasi Pekerjaan">
                                    <div >
                                        <div class="form-text text-danger">Industri tidak boleh kosong</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">Industri </label>
                                    <select class="form-control" v-model="industri.status_indus">
                                        <option :value="0">Tidak Aktif</option>
                                        <option :value="1">Aktif</option>
                                    </select>
                                </div>
                        </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div v-if="industri.nama_indus !== ''">
                            <button type="button" class="btn btn-alt-primary" data-dismiss="modal" @click="update(industri.id)">
                                <i class="fa fa-check"></i> Simpan
                            </button>
                        </div>
                        <div v-else>
                            <button disabled="disabled" type="button" class="btn btn-alt-primary">
                                <i class="fa fa-check"></i> Simpan
                            </button>
                        </div>
                        <button type="button" class="btn btn-alt-danger" @click="prev_cond()" data-dismiss="modal"><i class="si si-close"></i> Batal</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
        data(){
        return {
            field: [
                {key:'id',label:'id',sortable:true},
                {key:'nama_industri',label:'Nama industri',sortable:true},
                {key:'status',label:'status',sortable:true},
                {key:'act',label:'Actions',sortable:false},
            ],
            main_data:[],
            //entry limitation
            entry:5,
            entryOption:[5,10,25,50,100],
            //sorting
            sortBy:'nama_kualifikasi',
            sortDesc:false,
            //filtering
            filter:null,
            //pagination
            currentPage:1,
            //inputation obj
            industri:{
                nama_indus:'',
                status_indus:'',
                id:'',
            },
        }
    },

    props:['api_token'],

    created(){
      this.fetch_data();
    },

    methods:{
        //fetching
        fetch_data()
        {
            fetch('/api/Industri',{
                method:'get',
                headers:{
                    'Accept':'application/json',
                    'Authorization':'Bearer ' + this.api_token
                }
            })
            .then(res => res.json())
            .then(res => {
                this.main_data = res.data;
            })
            .catch(err => console.log(err));
        },
        //CURD
        store()
        {
            fetch('/api/Industri/save',{
                method:'post',
                body:JSON.stringify(this.industri),
                headers:{
                    'Content-Type':'application/json',
                    'Authorization':'Bearer ' + this.api_token
                }
            })
            .then(res => res.data)
            .then(data => {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: 'Data Berhasil Di Simpan',
                    showConfirmButton: false,
                    timer: 1500
                });
                this.prev_cond();
                this.fetch_data();
            })
            .catch(err => console.log(err));
        },

        edit(params)
        {
            this.industri.nama_indus = params.nama_industri;
            this.industri.status_indus = params.status;
            this.industri.id = params.id;
        },

        update(params)
        {
            fetch(`/api/kategori/update/${params}`,{
                method:'put',
                body:JSON.stringify(this.industri),
                headers:{
                    'Content-Type':'application/json',
                    'Authorization':'Bearer ' + this.api_token
                }
            })
            .then(res => res.json)
            .then(res => {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: 'Data terbaharui!',
                    showConfirmButton: false,
                    timer: 1500
                });

                this.prev_cond();
                this.fetch_data();
            })
            .catch(err => console.log(err));
        },

        destroy(params)
        {
           this.$swal({
                title: 'Hapus data ini?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya!',
                cancelButtonText: 'Tidak',
            }).then((result) => {
                if (result.value) {
                        fetch(`/api/Industri/delete/${params}`,{
                            method:'delete',
                            headers:{
                                'Content-Type':'application/json',
                                'Authorization':'Bearer ' + this.api_token
                            }
                        })
                        .then(res => res.data)
                        .then(data=>{
                            this.$swal(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            this.fetch_data();
                        })
                        .catch(err => console.log(err));
                }
            }) 
        },
        //MISC
        prev_cond()
        {
            this.industri.nama_indus = '';
            this.industri.status_indus = '';
            this.industri.id = '';
        }
    }
}
</script>
